.wrap {
    background-color: lightgreen;
    min-height: 100vh;
    padding-bottom: 50px;
  }
  .banner {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    background-image: url("vocabulary-com-vector-logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .container {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  span.example {
    color: black;
    font-size: 14px;
  }
  
  .btn-sparta {
    color: white;
    background-color: #e8344e;
    border: 1px solid #e8344e;
  }
  
  .btn-sparta-outline {
    color: #e83434;
    background-color: transparent;
    background-image: none;
    border: 1px solid #e8344e;
  }
  
  .search-box {
    width: 70%;
    margin: 50px auto;
    max-width: 700px;
  }
  
  .table {
    width: 80%;
    max-width: 800px;
    margin: auto;
    table-layout: fixed;
  }
  
  .table th {
    border-top-style: none;
    co
  }
  
  td {
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  td > a,
  a:visited,
  a:hover,
  a:active {
    color: black;
  }
  
  thead:first-child tr:first-child th:first-child {
    border-radius: 10px 0 0 0;
  }
  
  thead:first-child tr:first-child th:last-child {
    border-radius: 0 10px 0 0;
  }
  
  thead:last-child tr:last-child th:first-child {
    border-radius: 0 0 0 10px;
  }
  
  thead:last-child tr:last-child th:last-child {
    border-radius: 0 0 10px 0;
  }
  
  tr.highlight > td {
    background-color: orange;
    color: white;
  }
  
  tr.highlight a {
    color: white;
  }